<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "CardGameAlpha" %></h1>
  <p>Party game for ethical design.</p>

  <%= if @current_user do %>
    <%= render CardGameAlphaWeb.GameView, "_form.html", assigns %>
  <% else %>
    <%= render CardGameAlphaWeb.SessionView, "_form.html", assigns %>
  <% end %>
</section>
